<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<footer th:fragment="bottom">
    <ul>
        <li><a th:href="@{https://twitter.com/explore}">Twitter</a></li>
        <li><a th:href="@{https://fr-fr.facebook.com/}">Facebook</a></li>
        <li><a th:href="@{https://doctorwho.fandom.com/fr/wiki/TARDIS}">TARDIS</a></li>
    </ul>
    <span>Copyright BBC/Terry Nation 1963</span>

</body>
</html>